-# %h2
-#   Edit #{resource_name.to_s.humanize}
-# = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
-#   = render "devise/shared/error_messages", resource: resource
-#   .field
-#     = f.label :emaildesu
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   - if devise_mapping.confirmable? && resource.pending_reconfirmation?
-#     %div
-#       Currently waiting confirmation for: #{resource.unconfirmed_email}
-#   .field
-#     = f.label :password
-#     %i (leave blank if you don't want to change it)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#     - if @minimum_password_length
-#       %br/
-#       %em
-#         = @minimum_password_length
-#         characters minimum
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .field
-#     = f.label :current_password
-#     %i (we need your current password to confirm your changes)
-#     %br/
-#     = f.password_field :current_password, autocomplete: "current-password"
-#   .actions
-#     = f.submit "Update"
-# %h3 Cancel my account
-# %p
-#   Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
-# = link_to "Back", :back
.container
  .main
    -# .post-content
    .post-content
      %h2
        = @user.name
        さんのプロフィール
      .post-contents
        .post-contents-left
          .user-info
            .status-left
              %p 年齢 
              %p 出身地
              %p 性別
              %p 趣味
              %p 一言
            .status-right
              = form_with model: @user, class: :form, local: true do |form|
                %p
                  = form.text_field :age, placeholder: "年齢", class: "form-area"
                %p
                  = form.text_field :area, placeholder: "地域", class: "form-area"
                %p
                  = form.text_field :gender, placeholder: "性別", class: "form-area"
                %p
                  = form.text_field :hobby, placeholder: "趣味", class: "form-area"
                %p
                  = form.text_field :introduction, placeholder: "自己紹介", class: "form-area"
                %p
                  = form.file_field :icon, placeholder: "Image Url", class: "form-image"
                = form.submit '設定する', class: "orange-btn"
            -# .status-right
            -#   %p
            -#     = @user.age
            -#   %p
            -#     = @user.area
            -#   %p
            -#     = @user.gender
            -#   %p
            -#     = @user.hobby
            -#   %p
            -#     = @user.introduction
      -# = @user.name
      -# さんのプロフィール編集
      -# .user-info
      -#   .status-left
      -#     %p アイコン
      -#     %p 年齢 
      -#     %p 出身地
      -#     %p 性別
      -#     %p 趣味
      -#     %p 一言
        -# .status-right
        -#   = form_with model: @user, class: :form, local: true do |form|
        -#     %p
        -#       = form.file_field :icon, placeholder: "Image Url", class: "form-image"
        -#     %p
        -#       = form.text_field :age, placeholder: "年齢", class: "form-area"
        -#     %p
        -#       = form.text_field :area, placeholder: "地域", class: "form-area"
        -#     %p
        -#       = form.text_field :gender, placeholder: "性別", class: "form-area"
        -#     %p
        -#       = form.text_field :hobby, placeholder: "趣味", class: "form-area"
        -#     %p
        -#       = form.text_field :introduction, placeholder: "自己紹介", class: "form-area"
        -#     = form.submit '設定する', class: "orange-btn"
        -# .status-right
        -# = form_with model: @user, class: :form, local: true do |form|
        -#   = form.text_field :area, placeholder: "地域", calss: "form-area"
        -#   = form.email_field :email, autofocus: true, autocomplete: "email"
        -#   = form.text_field :area, placeholder: "地域", class: "form-area"
        -#   = form.file_field :icon, placeholder: "Image Url", class: "form-image"
        -#   = form.text_field :age, placeholder: "年齢", class: "form-area"
        -#   = form.text_field :gender, placeholder: "性別", class: "form-area"
        -#   = form.text_field :introduction, placeholder: "自己紹介", class: "form-area"
        -#   = form.text_field :hobby, placeholder: "趣味", class: "form-area"
        -#   = form.submit '設定する', class: "orange-btn"