.inner
  %h2 新規登録する
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :ユーザー名
      %br/
      = f.text_field :name, autofocus: true, autocomplet: "name", placeholder: "山田太郎", class: "name"
    .field
      = f.label :メールアドレス
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "mail@address.com", class: "email"
    .field
      = f.label :パスワード
      - if @minimum_password_length
        %em
          (#{@minimum_password_length}文字以上の半角英数字)
      %br/
      = f.password_field :password, autocomplete: "new-password", placeholder: "パスワードを入力", class: "password"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "********", class: "password"
    .actions
      = f.submit "登録する", class: "login-btn"
  -# = render "devise/shared/links"
