.container
  .main
    .post-content
      = @user.name
      さんのプロフィール
      .user-image
        = image_tag @user.icon.url, class: "user-icon"
      - if user_signed_in? && current_user.id == @user.id
        = link_to "編集", edit_user_registration_path, class: "postManage__edit"
      = render "relationships/follow_button", user: @user, class: "follow"
      .chat
      - if @user.id == current_user.id
      - else
        - if @isRoom == true
          %p
            %a{:href => "/rooms/#{@roomId}"} チャットへ
        - else
          = form_for @room do |f|
            = fields_for @entry do |e|
              = e.hidden_field :user_id, :value=> @user.id
            = f.submit "チャットを始める"
      .user-info
        .status-left
          %p 年齢 
          %p 出身地
          %p 性別
          %p 趣味
          %p 一言
        .status-right
          %p
            = @user.name
          %p
            = @user.name
          %p
            = @user.name
          %p
            = @user.name
      .user-post
      = @user.name
      さんの記事一覧
      - @posts.each do |post|
        .user-content
          .user-content__title
            = link_to post.title, post_path(post.id), class: "user-title"
          .user-content__bottom
            .user-content__category
              = post.category.name
            .user-content__date
              = post.created_at
      = link_to "ユーザー一覧に戻る", users_path
      = link_to "編集regist", edit_user_registration_path