.container
  .main
    = @user.name
    さんのプロフィール
    = render "relationships/follow_button", user: @user, class: "follow"
    .status
      %p 年齢 
      %p 出身地
      %p 性別
      %p 趣味
      %p 一言
    

    .top
    = @user.name
    さんの記事
    - @posts.each do |post|
      .content
        .content__top
          = image_tag post.image.url, size: "500x300", class: "image" if post.image.present?
        .content__bottom
          .content__title
            = link_to post.title, post_path(post.id), class: "title"
          .content__text
            = post.content
          .content__user
            投稿者:
            = post.user.name
  .side
    = render "posts/side.html"