-# .content_post{:style => "background-image: url(#{post.image});"}
-#   .post_content
-#     -# %span= image_tag 'arrow_top.png'
-#     %ul.more_list
-#       %li
-#         = link_to '詳細', "/posts/#{post.id}", method: :get
-#       - if user_signed_in? && current_user.id == post.user_id
-#         %li
-#           = link_to '編集', "/posts/#{post.id}/edit", method: :get
-#         %li
-#           = link_to '削除', "/posts/#{post.id}", method: :delete
-#   = simple_format(post.content)
-#   %span.name
-#     %a{:href => "/users/#{post.user.id}"}
-#       %span 投稿者
-#       = post.user.name
.content_row
  %h2 検索結果
  - @posts.each do |post|
    .content
      .content__top
        = image_tag post.image.url, size: "500x300", class: "image" if post.image.present?
      .content__bottom
        .content__title
          = link_to post.title, post_path(post.id), class: "title"
        .content__text
          = post.content
        .content__user
          投稿者:
          = post.user.name
  -# = paginate @posts