.side-top
  %h2 サイドバー
  %h3 カテゴリー
  .side-middle__category
    -# = form_with model: @post, class: :form, local: true do |form|
    -#   = form.collection_select(:category_id, Category.all, :id, :name, {prompt: "---"}, {id: "grand_child"})
    -#   = form.submit "検索", class: "search-btn"
    .side-middle__category-content
      %i#user.fa.fa-angle-double-right
      = link_to "会いたい", "#", class: "menu-list"
    .side-middle__category-content
      %i#user.fa.fa-angle-double-right
      = link_to "話たい", "#", class: "menu-list"
    .side-middle__category-content
      %i#user.fa.fa-angle-double-right
      = link_to "働きたい", "#", class: "menu-list"
    .side-middle__category-content
      %i#user.fa.fa-angle-double-right
      = link_to "参加したい", "#", class: "menu-list"
    .side-middle__category-content
      = form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form|
        = form.text_field :keyword, placeholder: "検索したいカテゴリーid", class: "search-input"
        = form.submit "検索", class: "search-btn"

      -# = form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form|
      -#   = form.text_field :keyword, placeholder: "検索したいカテゴリーid", class: "search-input"
        -# = form.collection_select(:category_id, Category.all, :id, :name, {prompt: "---"}, {id: "grand_child"})
    -#   %i#user.fa.fa-angle-double-right
    -#   = link_to "自己啓発", "#", class: "menu-list"
    -# .side-middle__category-content
    -#   %i#user.fa.fa-angle-double-right
    -#   = link_to "投資情報", "#", class: "menu-list"
.side-middle
  %h3

.side-bottom
  %h3 話題のこの人
  -# .side-bottom-content
  -#   .side-bottom-content-text
  -#   %i#user.fa.fa-angle-double-right
  -#   .side-bottom-content-title
  -#   aaaaa
  -# .side-bottom-content
  -#   .side-bottom-content-text
  -#   %i#user.fa.fa-angle-double-right
  -# .side-bottom-content
  -#   .side-bottom-content-text
  -#   %i#user.fa.fa-angle-double-right
  -# .side-bottom-content
  -#   .side-bottom-content-text
  -#   %i#user.fa.fa-angle-double-right

-# ユーザー名
-#   - if current_user
-#     = current_user.name
-#   .side-top__user
-#     .side-top__user-image
-#       = image_tag '/material/logo/kid_job_boy_businessman.png', size: "115x115", class: "user-image"
-#     .side-top__user-content
-#       %p フォローユーザー