.header-image
  = image_tag '/material/logo/Fitch & Co..png', class: "header-photo"
.container
  .side
    = render "posts/side.html"
  .main
    -# - @posts.each do |post|
    %h2 話題の投稿
    .user1
      .user1-content
        .user1-content__image
        .user1-content__name
        .user1-content__title
    %h2 新着の投稿
    .user2
      - @posts.each do |post|
        .user2-content
          .user2-content__image
            = image_tag post.image.url, size: "100×100", class: "content-image" if post.image.present?
          .user2-content__name
            = post.user.name
          .user2-content__title
            = link_to post.title, post_path(post.id), class: "title"
      = paginate @posts
    %h2 新着ユーザー
    .user3
      - @users.each do |user|
        .user3-content
          .user3-content__image
          .user3-content__name
            = user.name
          .user3-content__title
      = paginate @users
    %h2 お仕事募集中
    .user4
      .user4-content
        .user4-content__left
          .user4-content__left-profile
            .user4-content__left-profile-image
              -# = image_tag @user.icon.url, class: "user-icon"
            .user4-content__left-profile-name
          .user4-content__left-work
            .user4-content__left-work-title
              web制作します
            .user4-content__left-work-bottom
              .user4-content__left-work-category
                %p カテゴリー名
                プログラミング

              .user4-content__left-work-price
                %p 希望単価
                1000円
        .user4-content__right
          .tell-btn
            話をきく
      .user4-content
      .user4-content
      .user4-content

  -#   = render "posts/side.html"
  -# 
  -#           投稿.content__user者:
  -#           = post.user.name
  -#         .content__category
  -#   = paginate @posts
  -# -# .side.main
  -#   - @posts.each do |post|
  -#     .content
  -#       .content__top
  -#         = image_tag post.image.url, size: "500x300", class: "image" if post.image.present?
  -#       .content__bottom
  -#         .content__title
  -#           = link_to post.title, post_path(post.id), class: "title"
  -#         .content__text
  -#           = post.content