.container
  .main
    %h2 記事を見つけよう
    - @posts.each do |post|
      .content
        .content__top
          = image_tag post.image.url, size: "500x300", class: "image" if post.image.present?
        .content__bottom
          .content__title
            = link_to post.title, post_path(post.id), class: "title"
          .content__text
            = post.content
          .content__user
            投稿者:
            = post.user.name
  .side
    = render "posts/side.html"