.container
  .main
    .post-content
      .category-btn
        = @post.category.name
      .postImage
        - if @post.image?
          = image_tag @post.image.url, size: "400x300", class: "post-image"
      .postTitle
        = @post.title
      .postText
        = simple_format @post.content
      .postAuthor
        .postAuthor-left
          .postAuthor-left-image
            = image_tag @post.user.icon.url, class: "user4-icon" if @post.user.icon.present?
          .postAuthor-left-name
            = link_to @post.user.name, user_path(@post.user), class: "name-show"
        .postAuthor-right
          .postAuthor-right-price
            %span#text
              希望単価
            %span#price
              = @post.price
            %span#mark
              円
            .aaaaa
              - if user_signed_in? && current_user.id == @post.user_id
                = link_to "編集", edit_post_path(@post.id), class: "postManage__edit"
                = link_to "削除", post_path(@post.id), method: :delete, class: "postManage__delete"
        .postAuthor-buy
          .postAuthor-buy-btn
            = link_to "契約する", card_path(@post.id), class: "contract-btn"
      -# .post-buy
      -#   = link_to "契約する", card_path(@post.id), class: "buy-price"
      -# .post-price
      -#   = @post.price
      -#   円
      .comments
        %h4 コメント欄
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to comment.user.name, "/users/#{comment.user_id}"
            = comment.text
      - if current_user
        = form_with(model: [@post, @comment], local: true) do |form|
          = form.text_area :text, placeholder: "コメントを入力してください", rows: "2", class: "form-comment"
          = form.submit "コメントする", class: "comment-btn"
      - else
        %strong
          %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
  -# .postManage
  -#     - if user_signed_in? && current_user.id == @post.user_id
  -#       = link_to "編集", edit_post_path(@post.id), class: "postManage__edit"
  -#       = link_to "削除", post_path(@post.id), method: :delete, class: "postManage__delete"
  

